* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {

    font-size: $font-size-base;
    font-family: $font-family-1;
    line-height: $line-height-base;
    //background-color: #FAF9F6;
    background-color: #FFFFFF;
    color: $blue_c_1;
    font-weight: 200;
    min-height: 100vh;
    margin: 0;
    text-align: center;

}
.previousbtn {
    background-color: $HS-mediumgray;
    a {
        color: black;
    }
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    //color: #636b6f;
    color: $blue_c_1;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2rem;
}

#footer {
    margin-top: auto;
    width: 100%;
    height: 2rem;
    text-align: center;
    color: black;
    background-color: $HS-mediumgray;



    hr {
        margin-top: 0;
        margin-bottom: 3px;
        background-color: $HS-beige;

    }
}

.fixedmt {
    //margin-top: 30px;
    height: 80px;
}

.collapse {
    a {
        text-align: right;
        //float: right;
    }
}

.mid {
    align-content: center;
    align-items: center;
    text-align: center;
}

#navtop {
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    background-color: $green_c_1;

    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;

    a {
        font-size: 14px;
    }
}

.btn-default {
    background-color: $HS-lightgray;
    a {
        //color: black;
        color: $blue_c_1;
    }
    padding: 2px;
    border: 2px solid $HS-mediumgray;
    margin-bottom: 3px;
}

.dropdown-people {
    margin-top: 6px;
}

.btn-secondary{
    margin-bottom: 10px;
}
