// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Sarabun', sans-serif;
$font-family-1: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.5;

// Colors
//$green_c_1: #B6C7DD;
$green_c_1: #ffffff;
//$blue_c_1: #1C66A6;
$blue_c_1: #1C66A6;


$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$TM-orange: #f04c25;
$TM-blue: #009cab;
$TM-grey: #575757;
//our colors
$HS-darkgray: #42464A;
$HS-white: #FFFFFF;
$HS-mediumgray: #92A0A3;
$HS-beige: #E2D0BD;
$HS-lightgray: #E7E7E7;
$HS-lightblue: #8ba9b5;
$HS-specialblue: rgba(0, 0, 0, 0.5);
